<%- include("partials/header"); %>


<h1>Blogs</h1>
<div style="display: flex; justify-content: space-around; gap: 2rem;">
    <a href="/auth/sign_up">Sign Up</a>
    <a href="/auth/log_in">Log In</a>
    <form action="/" method="GET">
        <input type="text" name="search" id="">
        <input type="submit" value="Search">
    </form>
</div>

<% if (blogs) { %>
    <% blogs.forEach((blog) => { %>
        <div>
            <h2><%= blog.title %></h2></a>
            <% if (blog.description) { %>
                <p><%= blog.description %></p>
            <% } %>

            <% blog.tags.forEach((tag) => { %>
                <ul style="display: flex; justify-content: space-between; gap: 2rem">
                    <li>tag</li>
                </ul>
            <% }) %>
            <a href="/<%= blog._id %>">Read Blog</a>
        </div>
    <% }) %>

<% } %>


<!-- <a href="/tasks">Create Task</a>
<a href="/auth/log_out">Log Out</a> -->

<%- include("partials/footer"); %>