<%- include("partials/header"); %>


<h1>Blogs</h1>
<div style="display: flex; justify-content: space-around; gap: 2rem;">
    <a href="/blogs/create">Create Blog</a>
    <a href="/blogs?state=draft">Draft</a>
    <a href="/blogs?state=published">Published</a>
    <a href="/auth/log_out">Log Out</a>
</div>

<% if (blogs) { %>
    <% blogs.forEach((blog) => { %>
        <div>
            <h2><%= blog.title %></h2></a>
            <% if (blog.description) { %>
                <p><%= blog.description %></p>
            <% } %>

            <% blog.tags.forEach((tag) => { %>
                <ul style="display: flex; justify-content: space-between; gap: 2rem">
                    <li>tag</li>
                </ul>
            <% }) %>
            <a href="/<%= blog._id %>">View Blog</a>
        </div>
    <% }) %>
   
<% } %>

<a href="/">Go Home</a>
<%- include("partials/footer"); %>